.w {
  width: 23.438rem;
  margin: 0 auto;
}
body {
  background-color: #fff;
}
/* 顶部搜索模块开始 */
.login {
  height: 2.813rem;
  background: url(../imgs/2019324254324.svg) no-repeat 0 0.5rem;
  background-size: 5rem 1.875rem;
}
.search {
  float: left;
  width: 14.688rem;
  height: 1.875rem;
  margin: 0.5rem 0.563rem;
  margin-left: 5.625rem;
  border-radius: 0.938rem;
  background-color: #f0f0f0;
  padding-left: 0.625rem;
}
.search .fa-search{
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #999999;
}
.user{
  float: right;
  height: 1.75rem;
  width: 1.75rem;
  margin-top: 0.563rem;
  border-radius: 0.875rem;
  background: url(../uploads/ia_100000002.jpg) no-repeat 0 0;
  background-size: 1.75rem;
}
/* 轮播图 */
.banner {
  height: 12.5rem;
}
.banner img {
  height: 100%;
  width: 100%;
}