.w {
  width: 23.438rem;
  margin: 0 auto;
}
body {
  background-color: #fff;
}
/* 顶部搜索模块开始 */
.login {
  height: 2.813rem;
  background: url(../imgs/2019324254324.svg) no-repeat 0 0.5rem;
  background-size: 5rem 1.875rem;
}
.search {
  float: left;
  width: 14.688rem;
  height: 1.875rem;
  margin: 0.5rem 0.563rem;
  margin-left: 5.625rem;
  border-radius: 0.938rem;
  background-color: #f0f0f0;
  padding-left: 0.625rem;
}
.search .fa-search{
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #999999;
}
.user{
  float: right;
  height: 1.75rem;
  width: 1.75rem;
  margin-top: 0.563rem;
  border-radius: 0.875rem;
  background: url(../uploads/ia_100000002.jpg) no-repeat 0 0;
  background-size: 1.75rem;
}
/* 轮播图 */
.banner {
  height: 12.5rem;
}
.banner img {
  height: 100%;
  width: 100%;
}
/* 轮播图下面的小图标 */
.min {
  overflow: hidden;
}
.min li {
  float: left;
  width: 4.688rem;
  height: 5rem;
  box-sizing: border-box;
  padding: 0.688rem;
}
.min li img {
  display: block;
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 auto;
}
.min li p {
  margin-top: 0.063rem;
  text-align: center;
}
/* 主题折扣 */
.zhu {
  margin-top: 0.625rem;
  overflow: hidden;
}
.zhu h1 {
  margin: 0.313rem 0;
  font-weight: 700;
  font-size: 1.25rem;
}
.zhuti {
  width: 625rem;
}
.zhuti li {
  position: relative;
  float: left;
  margin-right: 0.625rem;
  width: 145px;
  height: 11.25rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.313rem;
  overflow: hidden;
}
.zhuti li img {
  width: 100%;
}
.zhuti li p {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.313rem;
}
.zhuti li em {
  position: absolute;
  bottom: 0.625rem;
  left: 0.313rem;
}
.zhuti li em i {
  color: #f00;
}
/* 主题折扣 */
/* 精选玩乐 */
.jing {
  margin-top: 0.625rem;
  overflow: hidden;
}
.jing h1 {
  margin: 0.313rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.jingxuan {
  width: 100%;
  margin: 0 auto;
}
.jingxuan li {
  position: relative;
  float: left;
  width: 7.313rem;
  height: 2.375rem;
  box-sizing: border-box;
  border-radius: 0.313rem;
  margin-right: 0.75rem;
  margin-bottom: 0.625rem;
  padding: 0.313rem 0 0 0.313rem;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}
.jingxuan li a {
  font-size: 0.75rem;
}
.jingxuan li i {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 1.563rem;
  width: 1.875rem;
}
.jingxuan li i img {
  width: 1.875rem;
  height: 1.563rem;
}
.jingxuan li:nth-child(3n) {
  margin-right: 0;
}
/* 精选攻略 */
.gong {
  margin-bottom: 1.438rem;
  overflow: hidden;
}
.gongl h1 {
  float: left;
  margin: 0.313rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.Tips {
  float: right;
  height: 1.688rem;
  width: 8.313rem;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.688rem;
  padding: 0 0.313rem;
  margin-top: 0.313rem;
  background-color: #02db94;
  border-radius: 0.813rem;
  box-sizing: border-box;
}
.gonglue {
  width: 100%;
  overflow: hidden;
}
.gonglue li {
  float: left;
  width: 10.938rem;
  height: 14.063rem;
  margin-right: 1.563rem;
  margin-bottom: 0.313rem;
}
.gonglue li:nth-child(2n) {
  margin: 0;
}
.gonglue li img {
  height: 10.313rem;
  width: 100%;
}
.gonglue li p {
  font-size: 0.813rem;
  font-weight: 700;
}
.gonglue li .user {
  line-height: 1.125rem;
}
.gonglue li .user img {
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 0.313rem;
}
.gonglue li .user em {
  color: #999999;
}
.gong h2 {
  font-size: 0.875rem;
  color: #0dd4ab;
  text-align: center;
}
/* 精选攻略 */
/* 尾部模块 */
footer {
  height: 5.688rem;
  background-color: #2d3741;
}
footer ul li {
  float: left;
  height: 2.625rem;
  width: 5.75rem;
  font-size: 0.875rem;
  color: #e0e0e0;
  text-align: center;
  line-height: 2.625rem;
}
footer p {
  color: #544641;
  text-align: center;
}
/* 尾部模块 */